<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Diseases - Durian AI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>

<body class="dark-theme">

    <nav class="navbar">
        <div class="nav-container">
            <div class="logo-area">
                    <img src="/static/assets/durian.png" alt="logo" class="nav-logo">
                    <span class="brand-name">Durian Disease Detection</span>
                </a>
            </div>
            <div class="nav-links">
                <a href="/diagnosis">Diagnosis</a>
                <a href="/history">History</a>
                <a href="/all-diseases">All Diseases</a>
            </div>
            <div class="auth-buttons">
                <a href="/register" class="btn-text" style="text-decoration: none; margin-right: 15px;">Register</a>
                <a href="/login" class="btn-primary" style="text-decoration: none;">Login</a>
            </div>
        </div>
    </nav>

    <main>
        </main>

    <script src="/static/script.js"></script>
</body>

</html>